#
# Default categories to be created for each CTF
#
tags:
    - bugbounty
    - crypto
    - for
    - misc
    - prog
    - pwn
    - re
    - web
#
# Default directories to be created for each challenge
#
directories:
    public:
        - public-files
    private:
        - server-files
        - exploit
        - src
#
# Default files to be created for each challenge
#
files:
    txt:
        - Dockerfile
        - writeup.md
        - public-files/description.md
    build: build
    deploy: deploy
    status: exploit/exploit
    config:
        challenge: .mkctf.yml
        repository: .repo.mkctf.yml
#
# Default flag information
#
flag:
    prefix: 'INSA{'
    suffix: '}'
