#
# Default categories to be created for each mkCTF repository
#
tags:
    - bugbounty
    - crypto
    - for
    - misc
    - prog
    - pwn
    - re
    - web
#
# Default difficulties to be created for each mkCTF repository
#
difficulties:
    - trivial
    - easy
    - medium
    - hard
    - extreme
#
# Default directories to be created for each challenge
#
directories:
    public:
        - public-files
    private:
        - server-files
        - exploit
        - src
#
# Default files to be created for each challenge
#
files:
    txt:
        - Dockerfile
        - writeup.md
    build: build
    deploy: deploy
    status: exploit/exploit
    repo_conf: .mkctf.repo.yml
    chall_conf: .mkctf.yml
    description: public-files/description.md
#
# Default flag information
#
flag:
    prefix: 'INSA{'
    suffix: '}'
