{
    "directories": [
        "server-files",
        "public-files",
        "exploit",
        "src"
    ],
    "categories": [
        "bugbounty",
        "crypto",
        "forensics",
        "misc",
        "programming",
        "pwn",
        "reverse",
        "web"
    ],
    "files": [
        [
            "writeup.md",
            false
        ],
        [
            "flag.txt",
            false
        ],
        [
            "public-files/description.md",
            false
        ],
        [
            "exploit/exploit",
            true
        ]
    ],
    "workspace": "/home/../insecurity/orga/inshack-2017/challenges"
}
