TODO: write a description for {{challenge_config.slug}}

FYI:
    - static url: `{{challenge_config.static_url}}`
    - challenge domain: `{{challenge_config.slug}}.{{repository_config.general.domain}}`
